/* * {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
    scroll-behavior: smooth;
}

.navbar {
    background-color: transparent;
    transition: all .3s;
    z-index: 999;
}

.navbar .navbar-toggler {
    outline: none;
}

.navbar .navbar-brand {
    font-family: 'Viga';
    font-size: 30px;
}

.navbar .navbar-nav .nav-link {
    text-transform: uppercase;
    margin-left: 25px;
    color: #fff;
}

.navbar .navbar-nav {
    background-color: #86C6F4;
    border-radius: 5px !important;
    padding: 10px;
} */

/* body {
    margin: 0;
    background: #ecf3f3;
} */

body {
    background-color: #1e293b;
}

.home h1 {
    background: linear-gradient(-49deg, #ff3d02, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 1s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #5b728a54;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.home {
    /* background: linear-gradient(to bottom, #1e293b, #334155);
    background-size: cover;
    width: 100%; */
    min-height: 100vh;
    /* background-position: bottom; */
}

.home {
    padding-top: 150px;
}

.home h1 {
    color: #94a3b8;
    font-weight: 700;
    font-size: 54px;
}

.home p {
    font-family: 'Times New Roman', Times, serif;
    color: #94a3b8;
    font-size: 20px;
}


.card {
    background: linear-gradient(to right, #475569, #47556936);
    transition: all 0.5s ease-in-out;
}

.card:hover {
    background-color: #334155;
    transform: scale(1.1);
}

nav {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.nav-item {
    margin-left: 10px;
}

.nav-item a:hover {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--bs-nav-pills-link-active-bg);
    border-radius: var(--bs-nav-pills-border-radius);
}

.flip-card {
    background-color: transparent;
    width: 250px;
    height: 300px;
    perspective: 1000px;
    font-family: sans-serif;
}

.flip-card .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background: linear-gradient(120deg, #2f3b4b 60%, #313c4d 88%, #596e8e 48%);
}

.flip-card-back {
    background: linear-gradient(120deg, #2f3b4b 60%, #313c4d 88%, #596e8e 48%);
    transform: rotateY(180deg);
}