@keyframes color-change {
    0%{background-color: #FF0000;}    
    40%{background-color: #d4ff00;}    
    60%{background-color: #ff00cc;}    
    80%{background-color: #ff5500;}    
    100%{background-color: #0000ff;}    
}

body {
    animation: color-change 0.1s infinite;
}